#box{
    background-color: thistle;
    width: 800px;
    height: 500px;
    margin: auto;
    color: rgb(61, 61, 61);
}

#box h1{
    text-align: center;
    padding-top: 50px;
}

#box p{
    text-align: center;
}

#box ul li{
    list-style: none;
    padding-left: 100px;
}